/* Write your CSS here */
.link-list-items {
  text-decoration: none;
  width:50%
}
.team-items {
  list-style-type: none;
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #ffffff;
  background-color: #faf4f433;
  width: 85%;
  margin: 10px;
  padding-top: 12px;
  padding-bottom:12px
  padding-left: 7px;
  padding-right: 7px;
}
@media screen and (min-width:768px){
}
.team-logo {
  height: 50px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .team-logo {
    height: 90px;
  }
}
.team-name {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Bree Serif';
}
@media screen and (min-width: 768px) {
  .team-name {
    font-size: 24px;
  }
}
